<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>ValidateStudent</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.ValidateStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateAdmin</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.ValidateAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admins</servlet-name>
    <servlet-class>com.onlineQuiz.pojo.Admins</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Instructions</servlet-name>
    <servlet-class>com.onlineQuiz.pojo.Instructions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Provider</servlet-name>
    <servlet-class>com.onlineQuiz.pojo.Provider</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Questions</servlet-name>
    <servlet-class>com.onlineQuiz.pojo.Questions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Students</servlet-name>
    <servlet-class>com.onlineQuiz.pojo.Students</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminsDao</servlet-name>
    <servlet-class>com.onlineQuiz.Dao.AdminsDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentsDao</servlet-name>
    <servlet-class>com.onlineQuiz.Dao.StudentsDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionsDao</servlet-name>
    <servlet-class>com.onlineQuiz.Dao.QuestionsDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InstructionsDao</servlet-name>
    <servlet-class>com.onlineQuiz.Dao.InstructionsDao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InstructionInsert</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.InstructionInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutStudent</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.LogoutStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.LogoutAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionInsert</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.QuestionInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInsert</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.StudentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateStudent</servlet-name>
    <url-pattern>/ValidateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateAdmin</servlet-name>
    <url-pattern>/ValidateAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admins</servlet-name>
    <url-pattern>/Admins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Instructions</servlet-name>
    <url-pattern>/Instructions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Provider</servlet-name>
    <url-pattern>/Provider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Questions</servlet-name>
    <url-pattern>/Questions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Students</servlet-name>
    <url-pattern>/Students</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminsDao</servlet-name>
    <url-pattern>/AdminsDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentsDao</servlet-name>
    <url-pattern>/StudentsDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionsDao</servlet-name>
    <url-pattern>/QuestionsDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstructionsDao</servlet-name>
    <url-pattern>/InstructionsDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstructionInsert</servlet-name>
    <url-pattern>/InstructionInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutStudent</servlet-name>
    <url-pattern>/LogoutStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionInsert</servlet-name>
    <url-pattern>/QuestionInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInsert</servlet-name>
    <url-pattern>/StudentInsert</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AddQuiz</display-name>
    <servlet-name>AddQuiz</servlet-name>
    <servlet-class>com.onlineQuiz.servlet.AddQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuiz</servlet-name>
    <url-pattern>/AddQuiz</url-pattern>
  </servlet-mapping>
</web-app>